
#user {
  width: 160px;
  height: 160px;
}
img {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 10px 0;
}

#im-a-noob {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}